.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 18px;
  column-gap: 12px;
}

.poster {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  max-width: 100%;
  width: 200px;
  height: auto;
}

.item {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  transition: transform 500ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
